<h1>All contestants</h1>

<% @contestants.each do |contestant| %>
  <section id="contestants-<%= contestant.id %>">
    <p><%= contestant.name %></p>
    <%= contestant.projects.each do |project| %>
      <%= project.name %>
      <% end %>
  </section>
<% end %>
